.bookcard-cnt{
    width: 235px;
    min-height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
    padding-bottom: 15px;
    cursor: pointer;
    
}
.bookcard-cnt:hover{
    // box-shadow: 0cap 0.2cap 1.3cap;
    box-shadow: 1px 1px 10px 1px gray;
    transform:translateY(5px)
}
.baokcard-img-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
}
.baokcard-img-cnt img{
    width: 105px;
    height: 135px;
}
.bookcard-name-details{
    min-height: 102px;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.bookstore-star-cnt{
    display: flex;
    align-items: center;
    line-height: 0px;
    // gap: 50px;
}
.bookstore-star-cnt h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    height: 18px;
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    padding: 4px;
}
#price{
    line-height: 0px;
    margin-top: -2px;
}